# DO NOT USE THIS FILE TO SET VARIABLES!!!!
# This is just a template. Copy it and create a dev.env file locally, which is ignored by git.
# For test and production servers, env variables are injected through our Gitlab CI/CD pipelines.

DJANGO_SECRET_KEY=
DJANGO_DEBUG=

DEFAULT_FROM_EMAIL=
EMAIL_USE_TLS=
EMAIL_HOST=
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=
EMAIL_PORT=

POSTGRES_PORT=
POSTGRES_PASSWORD=
POSTGRES_DB=
POSTGRES_HOST=
POSTGRES_USER=

OPENAI_API_KEY=
